@import 'Global.scss';

$upvote-img: "../images/arrow-up.svg";
$downvote-img: "../images/arrow-down.svg";

@mixin vote($color, $color-hover) {
  fill: $color;

  &:hover {
    fill: $color-hover;
  }
}

.vote-up-btn {
  @include vote($brand-gray-1, $brand-grad-color-1);
}

.vote-down-btn {
  @include vote($brand-gray-1, $brand-grad-color-4);
}

.vote-up-btn-active {
  @include vote($brand-grad-color-1, $brand-gray-1);
}

.vote-down-btn-active {
  @include vote($brand-grad-color-4, $brand-gray-1);
}

.color-rectangle {
  width: 5px;
  height: 100%;
  background-color: orange;
}

.contribution-votes {
  width: 40px;
  margin-right: 10px;
  text-align: center;

  .votes-nbr {
    font-size: 25px;
    line-height: 40px;
    color: $brand-gray-2;
  }

  .btn {
    width: 100%;
    line-height: 0;
    padding: 0 8px;
  }
}

.contribution-container {
  width: calc(100% - 50px);

  .contribution-content {
    position: relative;
  }

  .contributor-infos {
    background-color: $gray-200;
    padding: 2px;
    border-radius: 4px;

    .contribution-avatar {
      width: 100%;
      border-radius: 3px;
      width: 40px;
      height: 40px;
    }
  }
}

.comment-votes {
  width: 20px;
  margin-right: 10px;
  text-align: center;

  .votes-nbr {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    color: $brand-gray-2;
  }

  .btn {
    position: relative;
    width: 100%;
    line-height: 20px;
    padding: 0px 2px;
    vertical-align: top;
  }
}

.comment-container {
  width: calc(100% - 30px);

  .comment-content {
  }
}

.option-vote-btn {
  width: 40px;
  height: 40px;
  text-align: left !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  border-radius: 20px !important;
  border-style: none !important;
  background-image: linear-gradient(to bottom right, $brand-grad-color-1, $brand-grad-color-2);
  transition: width .5s ease !important;
  -webkit-transition: width .5s ease !important;
  overflow: hidden;

  &:hover {
    width: 90px;
  }

  &:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }

  &:active {
    //background-image: linear-gradient(to bottom right, $brand-grad-color-3, $brand-grad-color-4);
  }
}
