@import 'Global.scss';

.custom-nav1 {
  background-color: $brand-dark-2 !important;
  height: 80px;

  .navbar-brand {
    font-size: 2em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
  }

  .navbar-logo {
    height: 50px;
    vertical-align: middle;
  }
}
